.content {
  background: #fff;
  min-height: 400px;
  padding: 20px;
}

.dialog {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 40px;
}

.dialogContent {
  position: relative;
  background: #fff;
  padding: 40px;
  width: 30%;
  height: 30%;
  margin: auto;
  margin-top: 200px;
}

.dialogContent h2 {
    margin-top: 0;
}

.dialog-close {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.repoList {
  position: relative;
}

.logout-button {
  position: absolute;
  right: 0;
  top: 0;
}

.create-button {
  position: absolute;
  right: 0;
  top: 1;
}

.edit-button {
  position: absolute;
  right: 0;
}