doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/sakura.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous", charset="utf-8")
    script(src="/js/app.js", type="text/javascript", charset="utf-8")
