doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/sakura.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    block content
    script(src="//unpkg.com/mithril/mithril.js", type="text/javascript", charset="utf-8")
    script(src="/js/app.js", type="text/javascript", charset="utf-8")
