doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/sakura.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    block content
    script(src="//unpkg.com/mithril/mithril.js", type="text/javascript", charset="utf-8")
    script(src="/js/mithril-storage.min.js", type="text/javascript", charset="utf-8")
    script(src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.24.1/ramda.min.js",type="text/javascript", charset="utf-8")
    script(src="/js/spin.min.js ",type="text/javascript", charset="utf-8")
    script(src="/js/app.js", type="text/javascript", charset="utf-8")